/****************************** Style Guide ***************************************************/
:root {
    /****** Colors ***********/
    --brightOrange: #E28625;
    --darkCyan: #006971;
    --veryDarkCyan: #004140;
    --veryLightGray: #F2F2F2;
    --transparentWhite: #FFFFFF;

    /****** Typography *******/
    --typoPrimary: "Lexend Deca", sans-serif;
    --typoSecundary: "Big Shoulders Display", sans-serif;
}

/********************************** Globals *************************************/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: var(--typoPrimary);
    font-size: 1.6rem;
    /*background-color: var(--transparentWhite);*/
}
h2 {
    font-family: var(--typoSecundary);
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.78rem;
}
p {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

/********************************* Utilidades ****************************************/
.card {
    margin: 3rem 2rem;
    
}
@media (min-width: 1200px){
    .card {
        max-width: 120rem;
        width: 90%;
        margin: auto;
    }
}

/*************************************** Cars *******************************************/
.cars {
    color: var(--veryLightGray);
    padding: 3rem;
}
/*********************************** Sedan *******************************************/
.orange {
    background-color: var(--brightOrange);
    border-radius: 0.8rem 0.8rem 0 0;
}
/******************************* SUVs ********************************************/
.green {
    background-color: var(--darkCyan);
}
/******************************** Luxury ********************************************/
.dark_green {
    background-color: var(--veryDarkCyan);
    border-radius: 0 0 0.8rem 0.8rem;
}

